      <ul>
        <li> <i class="facebook square icon"></i><a href="https://www.facebook.com/james.hall.3557?ref=bookmarks">Facebook</a></li>
        <li> <i class="twitter square icon"></i><a href="https://twitter.com/llahwj">Twitter</a></li>
        <li> <i class="github square icon"></i><a href="https://github.com/James-H33">Github</a></li>
        <li> <i class="linkedin square icon"></i><a href="https://www.linkedin.com/profile/preview?locale=en_US&trk=prof-0-sb-preview-primary-button">LinkedIn</a></li>

      </ul>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
  </body>
</html>
