<% include partials/splash %>
<div class="overlay">
  <div class="container">
      <h1>Perfect Dining</h1>
      <p>
        Let us find you the perfect restaurant for you!
      </p>
      <hr>
      <div class="button">
        <a class="btn btn-danger" href="/restaurants"> Check Out Restaurants</a>
      </div>
  </div>
</div>


<% include partials/footer %>
