<% include partials/splash %>
<div class="overlay">
  <div class="container">
      <h1>Perfect Dining</h1>
      <p>
        Let us find you the perfect restaurant for you!
      </p>
      <hr>
      <div class="button">
        <a class="btn btn-primary" href="/restaurants"> Check Out Restaurants</a>
      </div>
  </div>
</div>

<script type="text/javascript" src="/javascript/landing.js">

</script>


<% include partials/footer %>
