<% include ../partials/header %>
<link rel="stylesheet" href="/stylesheets/restaurant.css" media="screen" title="no title" charset="utf-8">

<div class="headerContainer">
  <div class="headerOverlay">
    <div class="headerContent">
        <h1>Discover</h1>
        <p>
          We have hundreds of restaurants to explore.
        </p>
        <hr>
        <div class="headerButton">
          <p>
            Add your restaurant today for free
          </p>
          <a class="btn btn-primary" href="/restaurants/new"> Add Now</a>
        </div>
    </div>
  </div>
</div>


<div class="container">
  <div class="row">
    <%  restaurant.forEach(function(item) { %>
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <img src="<%= item.image %>" alt="...">
        <hr>
        <div class="caption">
          <h3><%= item.name %></h3>
          <p><span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span> <%= item.location %></p>
          <p><a href="/restaurants/<%= item._id %>" class="btn btn-danger" role="button">Button</a></p>
        </div>
      </div>
    </div>
    <% }); %>
  </div>
</div>



<% include ../partials/footer %>
